*{
    box-sizing: border-box;
}
body{
    font-size: 6vw;
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
input:focus,
button:active{
    outline: none;
}
button:active{
    transform: scale(0.9);
}

h1{
    text-align: center;
}

/*global*/
.attempts-number{
    display: block;
    border-radius: 1em/0.5em;
    border: 2px solid;
    padding: 0.3em;

    color: gray;
}
.start-btn{
    line-height: 2.7rem;
    width: 10rem;
    border-radius: 4em/7em;
    background: linear-gradient(135deg, rgba(204,110,110,0.5) 0%,rgba(204,110,110,0.48) 17%,rgba(254,255,255,0.52) 43%,rgba(254,255,255,0.54) 62%,rgba(97,108,112,0.58) 90%,rgba(41,55,61,0.58) 100%);
    border: 3px solid;
    border-color: rgb(201, 176, 176);
    /* border-left-color: rgba(204,110,110,0.5); */
    /* border-right-color: rgba(254,255,255,0.8); */
    font-family: cursive;
    font-weight: bold;
    font-size: 25px;
    color: rgba(0,0,0,0.4);
    position: relative;
    outline: none;
}
[data-component=screen] {
    display: none;
    flex: 1;
}
body.stage-0 [data-type=welcome]{
    display: block;
}

body.stage-1 [data-type=board]{
    display: block;
}

body.stage-2 [data-type=end-game]{
    display: block;
}

[class*=screen]{
    text-align: center;
}

.welcome-screen{
    text-align: center;
}

    .welcome-screen .start-btn{
        top: 10rem;
    }

.board-screen{
    font-size: 5vw;
}
    .board-screen .attempts-number{
        float: left;
        position: relative;
        left: 2rem;
    }
    .board-screen input{
        width: 3em;
        font-size: 5vw;
        font-family: cursive;
        padding: 0.2em;
        box-sizing: content-box;
        border-radius: 0.4em/1em;
        position: relative;
        z-index: 1;
    }
    .board-screen button{
        box-sizing: content-box;
        width: 3em;
        height: 4em;
        vertical-align: top;
        margin-left: -3.4vw;
        border-style: groove;
    }
    .board-screen .massage{
        display: inline-block;
        height: 1em;
        margin: 0.3em;
        color: red;
        text-transform: capitalize;
        font-family: monospace;
    }


    .board-screen .history{
        overflow-y: auto;
    }
    .board-screen table{
        width: 100%;
        text-transform: capitalize;
        table-layout: fixed;
    }
    .board-screen table thead th:not(:first-child){
        border-bottom: 1px solid black;
    }
    .board-screen table thead th:first-child{
        width: 0.9em;
    }

    .board-screen table tr{
        transition: opacity 0.5s ease-in-out;
    }

    .board-screen table tr.new{
        opacity: 0;
    }

    .board-screen table  td:first-child {
        color: rgba(204, 204, 204, 0.73);
        font-size: small;
        border-radius: 4em;
        border-right: 2px solid;
        line-height: 1em;
        height: 0.8em;
    }

.end-game-screen .start-btn{
    top: 5rem;
}